@{
    ViewBag.Title = "Change Password";
}

<div class="well">
    <fieldset>
        <legend>Change Password</legend>
        <p class="text-success">
             Your password has been changed successfully.<i class="glyphicon glyphicon-ok"></i>
        </p>
        
    </fieldset>
</div>