@model Mvc3HomeBrewShed.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}
<h2>
    Forgot Password</h2>
<p>
    Enter your email address and your password will be reset and emailed to you.
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Please correct the errors and try again.", new { @class = "text-danger" })
    <div class="well">
        <fieldset>
            <legend>Reset your password</legend>
             <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">@Html.LabelFor(m => m.Email)</label>
                <div class="col-lg-10">                           
                     @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter email address" })       
                     @Html.ValidationMessageFor(m => m.Email, null, new { @class = " col-lg-offset-2 col-lg-10 text-danger" })      
                </div>                    
            </div>
            <div>&nbsp;</div>
            <p>
                <button type="submit" class="btn-user btn-default">Reset Password</button>
            </p>
            </fieldset>
    </div>
}