@model Mvc3HomeBrewShed.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Success";
}

<div class="well">
    <fieldset>
        <legend>Password Reset</legend>
        <p class="text-success">
            A new password has been created successfully.<i class="glyphicon glyphicon-ok"></i>
        </p>
        <p class="muted">
           @Request["userName"] your new password has been e-mailed to you at the email address you supplied.
        </p>
        <p class="muted">
            Click @Html.ActionLink("here", "LogOn", "Account") to login with your new password.
        </p>
    </fieldset>
</div>